*{
    margin: 0;
    padding: 0;
    z-index: 1;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .page{
    height: 100vh;
    background-color: aliceblue;
    display:relative;
    align-items: center;
    justify-content: center;
    width: 31.1rem;
    margin-left: -4.2rem;
    margin-bottom: 69rem;
  
  }

  
  div.encryption{
    font-family: 'Courier New', monospace;
    font-size: 40px;
    font-weight: bolder;
    color: #00FF00;
    animation: matrix 2s linear infinite;
    
  }

 
  .container{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 6rem;
    
  }
  .heading{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 30px;
    
  }
  .img-holder{
    margin: auto;
    width: 250px;
    height: 350px;
    border: 3px black solid;
    border-radius: 5px;
    margin-top: 1rem;
  }
  .img{
    width: 250px;
    height: 350px;
    object-fit: cover;
  }
  #input[type="file"] {
      display: none;
  }
  .label{
    width: 100%;
    margin-top: 0.1rem;
    display: flex;
    justify-content: center;
  }
  .image-upload{
    margin: auto;
    width: 200px;
    height: 60px;
    color: white;
    border-radius: 10px;
    background-color: black;
    text-align: center;
    cursor: pointer;
  }
  .encryption {
    color: rgb(30, 30, 31);
    font-family: serif;
    font-size: 2rem;
    font-weight: 600;
    margin-top: -30rem;
    display: inline;
  }

  @media (max-width: 450px) and (max-width: 768px) {
    .page{
      height: 80vh;
      width: 30rem;
      
     
    
    }
    .container{
      height: 300px;
      
      
    }
    .image-upload{
      width: 20rem;
      height: 3rem;
      margin-top:2.1rem;
      color: rgb(250, 243, 243);
      
    }
    .img{
      height: 22rem;
      margin-top: 1px;
    }
    .img-holder{
      height: 22rem;
    }
    .heading{
      font-size: 1.5rem;
      text-align: center;
      margin-left: 4rem;
    }
    
    *{
      width: 12rem;  
      height: px;
      margin-right: 0.5rem;
      margin-top: -6px;
      margin-bottom: 20px;
      
  }
  }
  